.sidebar .sidebar-nav {
    height: 900px;
    /* width: 220px; */
}

.search{
    background-color: #2cd2db;
}

.search .nav-link .fa-search{
    color: white;
}

.nav-link:hover {
    background-color: #277c93;
}

hover:hover{
    background-color: #2cd2db;
}

.fadeIn{
    margin-bottom: 30px;
}


.selected{
    background-color:#2cd2db; 
    color: white;
    float: right;
    margin-bottom: 1em;
}

.nav-iconSelected{
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color: white;
    text-align: center;
}

.insertText{
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

.right{
    float: right;
}

.left{
    float: left;
}

.bg-info{
    background-color: #b3c6d8!important;
    border-color: #b3c6d8 !important;
}

.nav-link:hover{
    background-color: #2cd2db !important;
}

.table-striped{
    color: rgb(75, 75, 75);
   margin-top: 30px;
}

.btn-primary{
    background-color: #2cd2db !important;
    border-color: #2cd2db;
}

.btn-primary:hover{
    background-color: #1aa6ad !important;
    border-color: #1aa6ad;
    color: white;
}

h5{
    margin-top: 20px;
}

.btn-light{
    background-color: #73818f;
    color: white;
    border-color: #73818f;
}

.btn-light:hover{
    background-color: #2f353a;
    color: white;
    border-color: #2f353a;
}

.imagen_tabla{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
/* .fa{
    margin-left: 12px;
} */
