#logo{
    margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #2cd2db;
    border-color: #2cd2db;
}

select{
    width: 100%;
}

.input-error{
    border: 2px solid #B53471;    
}