.sidebar .sidebar-nav {
    height: 1000px;
    width: 220px;
}

.search{
    background-color: #2cd2db;
}

.search .nav-link .fa-search{
    color: white;
}

.nav-link:hover {
    background-color: #277c93;
}

hover:hover{
    background-color: #2cd2db;
}

.fadeIn{
    margin-bottom: 30px;
}


.fa-edit{
    color: rgb(122, 21, 46);
}

.selected{
    background-color:#2cd2db; 
}

.card.bg-info {
    border-color: red;
}