.sidebar .sidebar-nav {
    height: 900px;
    /* width: 220px; */
}

.search{
    background-color: #2cd2db;
}

.search .nav-link .fa-search{
    color: white;
}

.nav-link:hover {
    background-color: #277c93;
}

hover:hover{
    background-color: #2cd2db;
}

.fadeIn{
    margin-bottom: 30px;
}


.selected{
    background-color:#2cd2db; 
    color: white;
    float: right;
    margin-bottom: 1em;
}

.nav-iconSelected{
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color: white;
    text-align: center;
}

.insertText{
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}
/* 
.sizes{
    background-color: transparent;
    border-bottom: 2px solid #5ad3db;
} */

.right{
    float: right;
}

.left{
    float: left;
}

#breadcrumbLink{
    color: #5ad3db;
    font-size: 16px;
    text-decoration: none;
}

#breadcrumbLink-noSelected{
    color: gray;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: #2cd2db !important;
}

.table-striped{
    color: rgb(75, 75, 75);
   margin-top: 30px;
}

.btn-primary{
    background-color: #2cd2db !important;
    border-color: #2cd2db;
}

.btn-primary:hover{
    background-color: #1aa6ad !important;
    border-color: #1aa6ad;
    color: white;
}

h5{
    margin-top: 20px;
}

.btn-light{
    background-color: #73818f;
    color: white;
    border-color: #73818f;
}

.btn-light:hover{
    background-color: #2f353a;
    color: white;
    border-color: #2f353a;
}



/* ejercicios */
.margin{
    margin-bottom: 20px;
}

.marginTop{
    margin-top: 20px;
}

.image{
    width: 60%;
    height: 60%;
    margin-right: 10px;
}

.card{
    height: 150px;
}

.text-value-sm {
    line-height: 20px;
}
.input-error{
    border-color: red;
    /* color: #2cd2db; */
}

.text-purple{
    color: purple;
}

/* showDiv */

#myDIV {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    /* background-color: lightblue; */
    /* margin-top: 20px; */
    display: none;
}

#myForm{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: none;
}


.imagen_tabla{
    width: 65%;
}

.table thead th{
    width: 12%;
}
.floatleft{
    float: left;
}
.fa{
    margin-right: 6px;
}